@using Data
@using Components
@using System.Text
@using System.Text.Json
@using System.Text.Json.Serialization
@using Microsoft.AspNetCore.WebUtilities
@using System.Net.Http.Headers
@inject IHttpClientFactory ClientFactory
@inject DialogService DialogService
@inject HttpClient Httpclient

@page "/search"

<div class="container">

    <Pindex.Components.ItemSearchDisplay/>

</div>

@code {

}