@page "/stats"

<div class="container">
    <RadzenRow>
        <RadzenColumn>
            <RadzenText TextStyle="TextStyle.H2" TextAlign="TextAlign.Center"><strong>Statistics and Analysis</strong></RadzenText>
        </RadzenColumn>
    </RadzenRow>
    <RadzenRow>
        <RadzenColumn>
            <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Center"><strong>High Level Ideas</strong></RadzenText>
            <ul>
                <li>random item button</li>
                <li></li>
            </ul>
        </RadzenColumn>
        <RadzenColumn>
            <RadzenText TextStyle="TextStyle.H5" TextAlign="TextAlign.Center"><strong>Specific Data Ideas</strong></RadzenText>
            <ul>
                <li>Most common candidates (list/graph)</li>
                <li>Most  common parties (list/graph)</li>
                <li>Most common locations (list/graph)</li>
                <li>Most common offices (list/graph)</li>
                <li>Graph of years (by decade?)</li>
                <li>Graph of election type</li>
                <li>Candidate that has run for most offices (single)</li>
                <li>Candidate that has won / lost the most (single)</li>
                <li>Pins per year (line chart x=years y=number of pins)</li>
            </ul>
        </RadzenColumn>
    </RadzenRow>
</div>

